{% extends 'guest/aboutmaster.html' %}

{% block jumbotron %}
<p>
<h2>We are a global leader in connecting people and jobs. Every day, We aims to make every workplace happier and more productive by transforming the way employers and candidates find the right fit. For 25 years, We worked to transform the recruiting industry. Today, the company leverages advanced technology using intelligent digital, social and mobile solutions, including the flagship website, and a vast array of products and services.
</h2>
</p>
{% endblock %}




{% block content1 %}
<p>

<img src="static/img/tcs.jpg">
</p>
{% endblock %}

{% block content2 %}
<p>

<img src="static/img/infosys1.jpg">
</p>
{% endblock %}

{% block content3 %}
<p>

<img src="static/img/wipro.png">
</p>
{% endblock %}

{% block content4 %}
<p>

<img src="static/img/hcltech.png">
</p>
{% endblock %}

{% block content5 %}
<p>

<img src="static/img/techmahindra.png">
</p>
{% endblock %}

{% block content6 %}
<p>

<img src="static/img/oracle.png">
</p>
{% endblock %}

{% block content7 %}
<p>

<img src="static/img/l&t.png">
</p>
{% endblock %}

{% block content8 %}
<p>

<img src="static/img/mphasis.png">
</p>
{% endblock %}
