{% extends 'guest/contactmaster.html' %}

{% block content1 %}
<h4>Head Office</h4>
<p>
M6 First Floor Kanchan Sagar Near Industry House Palasia A.B Road Indore
Mobile-7805-063968	
</p>
{% endblock %}

{% block content2 %}

<h4>Branch Office</h4>
<p>GH 43, Scheme No 54, Vijay Nagar, Indore - 452010, Near Of Perfect Bakery
Mobile-7805-063968	
</p>
{% endblock %}

{% block content3 %}
<h4>Branch Office</h4>
<p>
AB Road Near Vishnupuri I- Bus Stop Above Study Home Library Bhawarkua Indore
Mobile-7805-063968
</p>
{% endblock %}

{% block content4 %}
<h3>Job Seekers</h3>
<p>If you are a job seeker and would like to contact us, call us at:<br>

Mobile-7805-063968 <br>

<br>
(Standard STD / ISD charges apply)<br>


To reach us through mail-<br>shivaconceptsolution@gmail.com,<br>
info@shivaconceptsolution.com</p>	

{% endblock %}

{% block content5 %}
<h3>Employeer</h3>
<p>If you are a employer and would like to contact us, call us at:<br>

Mobile-7805-063968<br>

<br>
(Standard STD / ISD charges apply)<br>


To reach us through mail-<br>shivaconceptsolution@gmail.com,<br>
info@shivaconceptsolution.com</p>
{% endblock %}