{% extends 'guest/master.html' %}
{% block content1 %}
<h1>Welcome,</h1>
<h4><strong>"Choose a job you love, and you will never have to work a day in your life."</strong> </h4><br><br>
<img src="static/img/job1.jpg"><br><br>
<img src="static/img/job2.png">

{% endblock %}


{% block content2 %}
<h3>Search Job according to your profile</h3>
<p>In this jobportal, you can search jobs in your dream companies and can apply from here only. Here, you can search jobs in various sector</p><br><br>
<p>Are you starting a job search? To job search effectively, you'll need to use a variety of communications. Whether it's writing a cover letter to send with your resume, inquiring if an employer you'd love to work for is hiring, or sending a quick email or LinkedIn message to a networking content, it's easier to start with an example or template than it is to write a brand new letter from scratch.

Review the most frequently used job search and career-related letters, including application letters, cover letters, inquiry letters, referral cover letters, prospecting letters, and other types of letters used to apply for jobs or inquire about jobs, plus examples of each type of letter and when to use them.</p><br><br>

<form class="example" action="">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit" ><i class="fa fa-search">Search</i></button>
</form>

{% endblock %}